.headerBack {
  width: 100%;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}
.container {
  margin-top: 20px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;

  .aside {
    position: fixed;
    overflow-y: scroll;
    // margin-top: 100px;
    background-color: #006affda;
    width: 18%;
    text-align: center;
    height: 80%;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.286);
    left: 20px;

    &::-webkit-scrollbar {
      width: 7px; /* ширина для вертикального скролла */
      background-color: #235a98;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: #d1d1d1;
      border-radius: 20px;
      // box-shadow: inset 1px 1px 10px #f3faf7;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #253861;
    }

    .logo {
      cursor: pointer;
      width: 80px;
      height: 80px;
      margin: 0 auto;

      border-radius: 10px;
      padding: 10px;
    }
    .departmants {
      margin-top: 5px;

      border-radius: 10px;
      padding: 10px;
      .active {
        margin-bottom: 20px;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s linear;
        background-color: #fff;
        color: #000;
      }
      .name {
        margin-bottom: 20px;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s linear;

        &:hover {
          box-shadow: 1px 1px 10px 1px #006affb1;
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  .main {
    // box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px;
    width: 80%;
    margin: 0 auto 0 290px;
    right: 20px;
    .departmantCard {
      width: 20rem;
      height: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.407);
      overflow: hidden;
      background-color: rgb(255, 255, 255);

      .photoContainer {
        position: relative;
        width: 100%;
        height: 170px;
        background-color: rgba(143, 143, 143, 0.466);
        background: linear-gradient(90deg, #69b7eb, #235fdf98);

        .photo {
          position: absolute;
          background-color: #fff;
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.407);

          overflow: hidden;
          left: 50%;
          transform: translate(-50%);
          bottom: -40px;
          border-radius: 20px;
          // border-radius: 50%;
          background-size: cover;
          width: 180px;
          height: 180px;

          img {
            height: 100%;
            width: 100%;
            // transform: translate(20%);
            object-fit: cover;
          }
        }
      }

      .doctorName {
        margin-top: 50px;
        text-align: center;
        span {
          font-size: 16px;
          font-weight: bold;
          color: #253861;
        }
      }
      .jobTitle {
        text-align: center;
        span {
          font-size: 17px;
          font-weight: bold;
          color: #235a98;
        }
      }

      button {
        margin-top: 20px;
        padding: 8px;
        width: 100%;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #fff;
        background-color: #009a1fb1;
        transition: 0.2s linear;
        &:hover {
          background-color: #005912b1;
        }
      }
    }
  }
}
