.container {
  overflow: hidden;
  .marqueeContainer {
    display: flex;
    align-items: center;
    background: #25284c;

    .marquee {
      font-size: 100px;
      line-height: 1.3;
      font-family: sans-serif;
      padding: 24px 0;
      color: #fff;
      white-space: nowrap;
      animation: marquee 25.5s infinite linear;
      &::after {
        content: "Небитый не крашенный приор ю юхкш, связи довл";
      }
    }
  }

  .description {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 100px auto;
    text-align: center;

    .descriptionGroup {
      .iconContainer {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      width: 18%;
      .count {
        color: #081f3e;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        margin-top: 20px;
      }
    }
  }
  .carouselContainer {
    background: #000;
    span {
      padding: 25px;
    }
    max-height: 100vh;

    img {
      height: 100%;
      opacity: 0.7;
    }

    button {
      background-color: #007bff;
    }

    .carouselCaption {
      width: 90%;
      bottom: 0;
      left: 0;
      text-align: start;
      padding: 20px;

      animation: 1s show ease;
      &:after {
        content: "";
        height: 4px;
        opacity: 0.6;
        border-radius: 5px;
        background-color: #fff;
        display: block;
        width: 80%;
      }

      h3 {
        color: #fff;

        font-size: 60px;
        margin-bottom: 20px;
      }
      // p {
      //     color: #081f3e;
      //     font-size: 16px;
      //     font-weight: bold;
      // }
    }
  }
}
@keyframes show {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0px);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
